body {
  font-family: Georgia;
  color: #444;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 960px;
  background: #f5f5f5;
}

.msg {
  padding: 10px;
  background: #222;
  position: relative;
}

.msg h1 {
  color: #fff;
}

.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}

.msg a:hover {
  background: #266400;
}

/* Header Styles */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#hd h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Section Styles */
.section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.section:last-child {
  border-bottom: none;
}

.section h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

/* Job Styles */
.job {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}

.job p {
  margin: 0.75em 0 3em 0;
}

/* Footer Styles */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}

#ft p {
  margin-bottom: 0;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  #hd h1 {
    font-size: 24px;
  }

  .section h2 {
    font-size: 24px;
  }
}
